@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1b1b1a;
  --secundary: #FBFEF9;
  --accent: #f27d00
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sequel-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-ratio {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex: 1.618003;

  }
}


@layer components {
  .flapLeft {
    content: " ";
    width: 1.5rem;
    background-color: black;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    top: 100%;
  }

  .flapRight {
    content: " ";
    width: 1.5rem;
    background-color: black;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    top: 100%;

    right: 0;
  }

  .divider {
    background-image: linear-gradient(90deg, var(--primary) 1.46%, var(--primary) 40.83%, var(--primary)65.57%, var(--primary) 107.92%)
  }

  .cardShadow {
    box-shadow: 5px 5px 0px 0px var(--accent);
  }

  .title {
    @apply text-[14vw] lg:text-[8vw] font-normal text-left hover:italic hover:translate-x-2 active:translate-x-2 transition-transform duration-500 cursor-pointer
  }

  .cardTitle h1 {
    text-align: center;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
  }



  .subTitle {
    position: relative;
  }

  .subTitle h1 {

    letter-spacing: 1px;
    text-transform: uppercase;

    text-align: center;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 13px;
  }

  .subTitle h1:before {
    background-color: var(--accent);
    content: '';
    display: block;
    position: absolute;

    height: 3px;
    width: 90px;
  }

  .subTitle h1:after {
    background-color: var(--accent);
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 3px;
    width: 90px;

  }


}