@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #252422;
  --secundary: #FBFEF9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-ratio {
    @apply flex;
    flex-grow: 1.618003;
    flex-shrink: 1.618003;
    flex-basis: 0;

  }
}